@model IEnumerable<Lista10.Models.Article>

@{
    ViewData["Title"] = "Shop";
}

<h1>Shop</h1>

<fieldset id="category">
    Category
    @Html.DropDownList("Category")

    <button id="filterButton" class="btn btn-info">Show</button>

</fieldset>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="articleContainer">
    </tbody>
</table>

@section Scripts{
    <script>
        let page = 0;
        const pageSize = 10;
        const container = $('#articleContainer');
        const dropdown = document.getElementById('Category');


        function loadMoreArticles() {
            $.ajax({
                url: `/api/article/next?page=${page}&pageSize=${pageSize}&categoryId=${dropdown.value}`,
                method: 'GET',
                success: function (data) {
                    const container = $('#articleContainer');
                    displayArticles(data);
                    page++;
                },
                error: function (error) {
                    console.error('Error loading articles:', error);
                }
            });
        }

        function displayArticles(articles) {
            articles.forEach(article => {
                const rowHtml = `<tr class="categoryRow" data-categoryid="${article.categoryId}">
                                        <td>${article.name}</td>
                                        <td>    
                                            <img class="index_image" src="${article.imageName ? 'Uploads/' + article.imageName : 'Images/no_image.jpg'}" alt="Image">
                                        </td>
                                        <td>${article.price}</td>
                                        <td>${article.expirationDate}</td>
                                        <td>${article.category.name}</td>
                                        <td><a href="/Shop/AddToBasket?id=${article.articleId}" class="btn btn-success">+</a></td>
                                    </tr>`;

                container.append(rowHtml);
            });
        }


        $('#filterButton').on('click', function () {
            container.empty();
            page = 0;
            loadMoreArticles();
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
                loadMoreArticles();
            }
        });

        $(document).ready(function () {
            loadMoreArticles();
            
        });
    </script>

}
